html {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  --background: #fffffe;
  --foreground: #1e1e1e;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: var(--background);
  color: var(--foreground);
}
body.is-light {
  --background: #fffffe;
  --foreground: #1e1e1e;
}
body.is-dark {
  --background: #1e1e1e;
  --foreground: #dcdcdc;
}

@media (prefers-color-scheme: dark) {
  body {
    --background: #1e1e1e;
    --foreground: #dcdcdc;
  }
}
select {
  background: var(--background);
  color: var(--foreground);
}

main {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
}
.title h1 {
  font-size: inherit;
  display: inline;
}
.title h1 a {
  color: #0cb4ff;
  text-decoration: none;
}
.title h1 a:hover {
  text-decoration: underline;
}
.title .prop {
  margin-left: 0.6em;
  color: #e09d0f;
}
.title select {
  font-size: 1em;
}
.title::before {
  content: "<";
  margin-right: var(--margin);
}
.title::after {
  content: "/>";
  margin-left: var(--margin);
}
.title::before, .title::after {
  --margin: 0.2em;
  color: var(--foreground);
  font-size: 1.8em;
  display: inline-block;
}

[data-alt-json-options] {
  width: 100%;
}

#two-pane {
  flex-grow: 1;
  display: flex;
  flex-flow: row;
  width: 100%;
  overflow: hidden;
}
#two-pane > * {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#two-pane > * > .header {
  display: flex;
  flex-flow: row;
  height: 1.4rem;
  flex-shrink: 0;
}
#two-pane > * > .header > a.npm {
  width: 1.4rem;
  height: 1.4rem;
}
#two-pane > * > .header > a.npm:not([href]) {
  filter: grayscale(1);
}
#two-pane > * > .header select {
  font-size: inherit;
}
#two-pane > * > .editor-container {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

.editor-container {
  height: 100%;
  width: 100%;
}